.page-wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    padding-bottom: 5%;
}

.login {
    padding-top: 5%;
    width: 60%;
}

.login-form {
    color: #FD2D01;
    padding: 3% 7% 7% 7%;
    border: 1px solid #1E314E;
    border-radius: 25px;
}

h2 {
    text-align: center;
    padding-bottom: 5%;
}