.accueil {
    display: flex;
    flex-direction: column;
}

.accueil-content {
    display: flex;    
    justify-content: center;
    padding-top: 2%;
}

.accueil-middle {    
    width: 85%;
}

.accueil-aside-right {
    margin-top: 10%;
}

.accueil-aside-right-login {
    margin-bottom: 23%;
}