.Accueil-image {
    width: 60%;
}

.group-title {
    text-align: center;
}

.group-company-img {
display: flex;
justify-content: center;
padding: 4% 0 2% 0;
}

.group-company  {
    width: 100%;
}

