textarea {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.3em 0.5em;
}

.newcomment-form__submit {
    width: 150px;
    height: 37px;
    background-color: blue;
    color: white;
    font-size: 1.1em;
    border-radius: 15px;
}

h3 {
color: black;
}